server:
  port: 31943

spring:
  application:
    name: cost-system-backend

  # 默认激活 dev 配置
  profiles:
    active: dev

  jackson:
    time-zone: Asia/Shanghai
    date-format: yyyy-MM-dd HH:mm:ss
    default-property-inclusion: NON_NULL

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when-authorized